{% extends 'base.html' %}
{% load static %}
{% block title %}メインページ{% endblock %}

{% block contents %}
<div class="container" style="margin-top: 100px;">

    {% if family_is_blank is True %}
        <h2>ご登録誠にありがとうございます。<br>使用開始に伴い、まずは家族の登録、<br>もしくは既存の家族への追加を行ってください。</h2>
    {% else %}
        {% if today_menu_is_blank is True %}
            <h2>本日の献立がありません。<br>こちらから新しく献立を作成してください。</h2>
            <a class="btn btn-primary m-5" href="{% url 'kondate_app:create' %}">新しくレシピを作成する</a>
        {% else %}
            <a class="btn btn-primary float-right" href="{% url 'kondate_app:create' %}">新しくレシピを作成する</a>
            <div class="row">
                <div class="mx-auto col-lg-8 col-md-10">
                    <h2>ー本日の献立ー</h2>

                    {% if main_dish %}
                    <h4 class="border-bottom m-sm-5">主菜</h4>
                    <p>{{ main_dish.name }}</p>
                    {% endif %}

                    {% if side_dish %}
                    <h4 class="border-bottom m-sm-5">副菜</h4>
                    <p>{{ side_dish.name }}</p>
                    {% endif %}

                    {% if soup %}
                    <h4 class="border-bottom m-sm-5">汁物</h4>
                    <p>{{ soup.name }}</p>
                    {% endif %}

                    {% if rice %}
                    <h4 class="border-bottom m-sm-5">飯物</h4>
                    <p>{{ rice.name }}</p>
                    {% endif %}

                    {% if dessert %}
                    <h4 class="border-bottom m-sm-5">デザート</h4>
                    <p>{{ dessert.name }}</p>
                    {% endif %}

                    {% if drink %}
                    <h4 class="border-bottom m-sm-5">飲み物</h4>
                    <p>{{ drink.name }}</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock contents %}