{% extends 'base.html' %}

{% load static %}

{% block title %}メインページ{% endblock %}

{% block contents %}
<div class="container" style="margin-top: 100px;">
    <a class="btn btn-primary float-right" href="{% url 'kondate_app:create' %}">新規作成</a>
    <div class="row">
        <div class="mx-auto col-lg-8 col-md-10">
            <h2>ー本日の献立ー</h2>

            {% if object_list.main_dish %}
                <h4 class="border-bottom m-sm-5">主菜</h4>
                <p>{{ object_list.main_dish.name }}</p>
            {% endif %}

            {% if object_list.side_dish %}
                <h4 class="border-bottom m-sm-5">副菜</h4>
                <p>{{ object_list.side_dish.name }}</p>
            {% endif %}

            {% if object_list.soup %}
                <h4 class="border-bottom m-sm-5">汁物</h4>
                <p>{{ object_list.soup.name }}</p>
            {% endif %}

            {% if object_list.rice %}
                <h4 class="border-bottom m-sm-5">飯物</h4>
                <p>{{ object_list.rice.name }}</p>
            {% endif %}

            {% if object_list.dessert %}
                <h4 class="border-bottom m-sm-5">デザート</h4>
                <p>{{ object_list.dessert.name }}</p>
            {% endif %}

            {% if object_list.drink %}
                <h4 class="border-bottom m-sm-5">飲み物</h4>
                <p>{{ object_list.drink.name }}</p>
            {% endif %}
        </div>
    </div>

</div>
{% endblock contents %}