{% extends "base.html" %}

{% block title %}ログイン | Kondate{% endblock %}

{% block active_signup %}active{% endblock %}

{% block contents %}
<div class="container">
  <div class="row">
    <div class="my-div-style mx-auto" style="margin-top: 100px;">
      <h1>ログアウト</h1>
      <p>本当にログアウトしますか？</p>
      <form method="POST" action="{% url 'account_logout' %}">

        {% csrf_token %}

        <table class="table">{{ form.as_table }}</table>

        {% if redirect_field_value %}
        <input type='hidden' name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
        <button class="btn btn-primary" type="submit">ログアウト</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}

